*{
    margin: 2px;

}


#hello1 {
    color: blueviolet;
    font-size: 20px;
}   

#hello2 {
    color: black;
    background-color: beige;
    font-size: 20px;
    font-family: Optima;
    padding: 1em;
    border: 2px dotted black; 
    margin: 10px;
}

.p-tag {  
    color: brown;
    font-size: 30px;
}

.div1 .p-tag {
    color:blueviolet
}

.div2 .p-tag {
    color:deeppink
}

.div2 p {
    background-color: aquamarine;
    width: 20%;
}

.color1 {
    color: rgb(122, 222, 189);
    font-size: 40px;
}


.hold1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 50px;
    width: 1500px;
    text-align: center;
    gap: 20px;
    font-size: 2em;
    font-family: Optima;    
}

.flex1 {
    border: 2px solid red;
    width: 400px;
    flex: 1;
}

.flex2 {
    border: 2px solid blue;
    background-color: bisque;
    border-radius: 25px;    
    flex: 2;
}

.flex3 {
    border: 2px solid green;
    flex: 1;
}

.posdemo {
    font-size: 2em;
    font-family: Optima;
    display: flex;
    

}

.posdemo-a {
    background-color: yellow;
    position: fixed;
    z-index: 1;
}

.posdemo-b{
    background-color: lightcoral;
    position: relative;
    top: 10px;
    left: 10px;
 
}